@CHARSET "UTF-8";
.div1{
width:100%;
text-align:center;
}
.div2{
width:100%;
height:500px;
background:url(../images/flower.jpg);
left:50%;
text-align:center;
}
.div3{
width:100%;
height:35px;
line-height:35px;
background:#ccc;
position:fixed;
bottom:0px;
left:0px;
font-size:14px;
text-align:center;
}
#text1{
width:260px;
height:40px;
}
#password1{
width:260px;
height:40px;
}