@CHARSET "UTF-8";
.div1
{
width:100%;
text-align:center;
}
.div2
{
font-size:25px;
text-align:center;
height:40px;
}
.div3
{
text-align:center;
font-size:10px;
height:80px;
}
.div4
{
text-align:center;
}
#text1
{
width:260px;
height:40px;
}
#text2
{
width:260px;
height:40px;
}
.div5
{
width:100%;
height:35px;
line-height:35px;
background:#ccc;
position:fixed;
bottom:0px;
left:0px;
text-align:center;
}